#to-do-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  min-height: 500px;
  background-color: beige;
  border-radius: 10px;
}

.column .header {

}

.column .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}